html{
    scroll-behavior: smooth;
}
body{
    width: 95%;
    margin: 0 auto;
    box-sizing: content-box;
}
nav ul{
    background-color: rgb(17, 103, 165);
    height: 90px;
    text-align: center;
    margin-bottom: 30px;
}
nav ul li{
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 15px 35px;
    margin-left: 45px;
    margin-top: 23px;
    background: rgb(147, 150, 150);
    color: gold;
}
/*  Header Logo */
header img{ 
    position: absolute;
    top: 10px;
    left: 280px;
}
main article{
    width: 50%px;
    margin: 0 auto;
    text-align: center;
}
main article section{
    margin: 30px;
}
main article section img{
    margin: 12px;
}
article figure img{
    margin-left: 209px;
}
article figure p{
    display: inline-block;
    width: 470px;
    overflow-y: scroll;
    text-align: left;
    line-height: 1.5;
    height: 300px;
    float: right;
    margin-right: 215px;
}
article figure p strong{
    font-weight: bolder;
}
article figure button{
padding: 10px 60px;
border: none;
position: relative;
bottom: 39px;
left: 127px;
transition: background-color 1s,color 2s, box-shadow 2s;
}
article figure button:hover{
    background-color: rgb(55, 55, 255);
    color: white;
    box-shadow: 2px 2px 4px black;
}
footer{
    background-color: rgb(17, 103, 165);
    height: 150px;
    margin-bottom: 50px;
}